body {
    background-color: hsl(218, 28%, 15%);
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    background-image:url(images/bg-curvy-desktop.png) ;
}
h1 {
font-family: "Raleway";
font-weight: 700;
color: white;
font-size: 30px;
}
h2 {
    font-family: "Raleway";
    color: white;
    font-size: 14px;
}
p {
    font-size: 10px;
    color:#f9f3f3;
}
.stay {
    font-size: 32px;
}

.arrow {
    color:hsl(176, 68%, 64%);
}

.top-container {
    background-color: hsl(217, 28%, 15%);
    margin: 10px;
    padding: 10px;
}
.second-container {
    text-align: center;
    font-size: 60%;
}

.third-container {
    padding: 30px;
    margin-top: 100px;
    
}

.fourth-container {
text-align: center;
}

.fifth-container {

}

#sign {
    text-align: center;
}

.free {
    border:10px;
    width: 50%;
    margin-left: 300px;
    box-shadow: 2px 2px black;
}

.contact {
    display: flex;
    padding: 50px;
    padding-left: 100px;
}

.lorem {
    margin: 50px;
    display: flex;
}

.sit {
    padding-left: 20px;
    font-size: 24px;
}

.phone {
    margin: 50px;
    font-size: 12px;
}

.about {
    margin: 50px;
    font-size: 12px;
    padding: 10px;
}

.term {
    margin: 50px;
    font-size: 12px;
    padding: 10px;
}

.quotes {
    display: flex;
    margin: 10px;
    padding: 20px;
}

.huddle {
    box-shadow: 5px 5px gray;
    margin-right: 10px;
    padding: 10px;
}
.mckenzie {
    box-shadow: 5px 5px gray;
    margin-right: 10px;
    padding: 10px;
}
.iva {
    box-shadow: 5px 5px gray;
    margin-right: 10px;
    padding: 10px;
}

.patel {
    border-radius: 70%;
}
.bruce {
    border-radius: 70%;
}
.boyd {
    border-radius: 70%;
}

.productive {
    display: flex;
  flex-direction: row;
  padding: 20px;
}
.issue {
    padding: 30px;
    font-size: 32px;
    padding-left: 20px;
    margin-left: 100px;
}

.arrow {
    margin-top: 10px;
}


.access {
padding: 10px;
}

.security {
    position: relative;
    left: 650px;
    bottom: 170px;
    padding: 10px;
}

.collaboration {
padding: 10px;
}

.file {
    position: relative;
    left: 650px;
    bottom: 150px;
    padding: 10px;
    
}

.btn {
    background-color:#a4ebf3;
    color: white;
  text-decoration:none;
  text-align: center;
  height: 34px;
  width: 200px;
  border-radius: 100px
}

input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 5px;
  }

.fylo {
    color:white;
    padding-right: 900px;
    font-family: "Raleway";
    ]font-weight: 400;
}
.sign {
    padding: 10px;
    color: white;
}
a {
    text-decoration: none;
}
